[Unit]
Description=Supervisor for MIDF services
Wants=logger.service

[Service]
ExecStart=/usr/bin/supervisor-service
Restart=always

[Install]
WantedBy=multi-user.target
